{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-info" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}