{% extends 'base.html' %}
{% block content %}
<script type=text/javascript>
$(document).ready( function () {
  var table =  $('#variant_table').DataTable( {
    select: true,
    paging: false,
    searching: false,
    // Funksjon for å farge rader med klasse
    "createdRow": function( row, data, dataIndex ) {
      if ( data[132] == "2.0" ) {
        $( row ).css( "background-color", "Green" );
        $( row ).addClass( "warning" );
      }
    },
    // Hide the first column
    "columnDefs": [
      { "visible": false, "targets": 0 }
    ],
  });

  // Funksjon som utløses ved klikk i tabell
  table.on('click', 'tr', function () {
    var varID = $('td', this).eq(0).text();
    var start = $('td', this).eq(1).text();
    var mode = $(this).closest("tr").find('td:eq(-6)').text(); // arvegang fra filter
    $('#varModal').modal("show");
    // Tester å sette inn variabel i modalen
    document.getElementById('title_').innerHTML = mode  //start;
    // Fyll hidden form varID med ID varID fra tabell
    $('#varID').val(String(varID));
  });
  // Checkbox dominants:
  // $("#domCheck").change(function(){
  //   $('#variant_table td').filter(
  //     function() {
  //       return ($(this).text() == "dom");}
  //   ).parent().toggle();
  // }).change();
  //
  $("#domCheck").change(function(){
    if ($("#domCheck").is(':checked')) {
      if ( table.column(1).search() !== "" ) {
        table
        .column(1)
        .search( "" )
        .draw();
      }
    } else {
      if ( table.column(1).search() !== "955597" ) {
        table
        .column(1)
        .search( "955597|957898", true, false)
        .draw();
      }
    }
  });
  //
});



</script>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="row">
  <div class="alert alert-info" role="alert">{{ message }}</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
  <div class="row">
    <div class="input-group">
      <h1>Column filters:</h1>
      <form>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="domCheck">
          <label class="form-check-label" for="domCheck">Dominant</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="recCheck" checked>
          <label class="form-check-label" for="exampleCheck1">Recessive</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="dmCheck" checked>
          <label class="form-check-label" for="exampleCheck1">Dms</label>
        </div>
      </form>
      <form action="{{ url_for('filter') }}" method=POST enctype="multipart/form-data" class="form-inline">
        <div class="row justify-content-center">
          <div class="col-sm-3">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-12"> -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <h2>Varianter</h2>
            {{ dfAsHTLM|safe }}
            <!-- </div> -->
          
          </li>
        </ul>
      </div>
    </nav>
  </div>
  {% include 'variantModal.html' %}
</div>
{% endblock %}












