{% extends 'base.html' %}
{% block content %}

<script type=text/javascript> $(document).ready(function() {

  $('#sample_table').DataTable({
    select: 'single',
    paging: false,
    searching: false
    });
  
  $('#sample_table tbody tr').on('click', function () {
    var pID = $('td', this).eq(0).text();
    console.log(String(pID));
    // Fyll hidden form varID med ID varID fra tabell
    $('#pID').val(String(pID));
  });

});

</script>


<div class="jumbotron">
  <div class="container">
    <h1>Samples for interpretation</h1>
    <table id="sample_table" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Sample_ID</th>
          <th>Panel</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>

        {% for terp in terplist %}
        <tr>
          <td>{{ terp["sID"] }}</td>
          <td>{{ terp["panel"] }}</td>
          <td>{{ terp["user"] }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <form action="{{ url_for('interpretations') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.pID() }}
        <fieldset class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
