{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
{% include 'interpret.js' %}
</script>




{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-info" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <h4>Info om variant for prøve {{ pID }}:</h4>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <table id="vartable1" class="display" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Chr</th>
            <th>cDNA</th>
            <th>Gen</th>
            <th>GT</th>
            <th>Arvegang</th>
          </tr>
        </thead>
        <tbody>
          {% if variantsDict is defined %}
            
          {% for key, value in variantsDict.iteritems() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value.chr }}</td>
            <td>{{ value.ANN.split('|')[9] }} </td>
            <td>{{ value.ANN.split('|')[3] }} </td>
            <td>{{ value.GT }}</td>
            <td>{{ value.iid }}</td>
          </tr>
          {% endfor %}
          
          {% else %}
          <tr>
            <td>Tom</td>
            <td>Tom</td>
          </tr>
          <tr>
            <td>Tom</td>
            <td>Tom</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <button id="enter_batch_modal_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#batch_modal">Batch filter</button>
    </div>
    

    <div class="col-sm">
      <div class="card">
        <h5 class="card-header h5" id="var_info_h5">Featured</h5>
        <div class="card-body">
          <h5 class="card-title" id="var_info_card_title">Variantinfo:</h5>
          <p class="card-text" id="var_info_card_text"></p>
          <p class="card-text" id="var_info_card_text_1"></p>
          <br>
          <h5 class="card-title" id="var_info_card_title_2">Teknisk info:</h5>
          <p class="card-text" id="var_info_card_text_2"></p>
          <br>
          <h5 class="card-title" id="var_info_card_title_3">Annotering:</h5>
          <p class="card-text" id="var_info_card_text_3"></p>
          <br>
          <h5 class="card-title" id="var_info_card_title_4">Tolkning:</h5>
          <p class="card-text" id="var_info_card_text_4"></p>

          <form action="{{ url_for('interpret', pID=pID ) }}" method="POST" enctype="multipart/form-data">

            <div class="col-sm-1">
            <div class="form-group">
              <label for="sel1">Klasse:</label>
              <select class="form-control" id="sel1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>U</option>
              </select>
            </div>
            </div>

            <fieldset class="form-group">
              <label for="comments">Comments</label>
              <textarea class="form-control" id="variant_comment" name="variant_comment" spellcheck="false"></textarea>
            </fieldset>


          </form>
          

        </div>
      </div>
      <br>



      <div class="card">
        <h5 class="card-header h5">Linker</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text" id="link_card_text"><a id="link_card_href" target="_blank">gnomAD</a></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text" id="link_card_text_2"><a id="link_card_href_2" target="_blank">Omim</a></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"><a href="https://stuart.radboudumc.nl/metadome/dashboard" target="_blank">Metadome</a></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"><a href="https://varsome.com" target="_blank">Varsome</a></p>
            </div>

            <div class="col-sm-2">
              <p class="card-text"><a href="http://miscast.broadinstitute.org/" target="_blank">Miscast</a></p>
            </div>

            <div class="col-sm-2">
              <p class="card-text"><a href="  http://www.docm.info/" target="_blank">Docm</a></p>
            </div>
          </div>
        </div>
      </div>

      <br>
     
      <br>

    </div>
  </div>
  <div class="row">
    <div class="col-xl text-center">

      <div class="card">
        <h5 class="card-header h5" >Interpretation session:</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">

              <form action="{{ url_for('interpret', pID=pID ) }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.pID(class="form-control") }}
                {{ form.jsdata(class="form-control") }}

                <fieldset class="form-group">
                  {{ form.comments.label }}
                  {{ form.comments(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                  {{ form.submit(class="btn btn-primary") }}
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br><br><br><br><br><br>
<div class="row" id="json"></div>
<!-- Modal: -->
{% include 'batch_modal.html' %}
{% endblock %}
