<div id="varModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="title_">Enter variant</h4>
      </div>
      <div class="modal-body">
        <p>Fill inn variant identification and get data from Alamut</p>
        <form action="{{ url_for('filter') }}" method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {{ form.varID(style="display: none") }}
          <div class="row">
            <div class="col-sm-5">
              <fieldset class="form-group">
                {{ form.comment.label }}
                {{ form.comment(class="form-control") }}
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <fieldset class="form-group">
                {{ form.interp_class.label }}
                {{ form.interp_class(class="form-control") }}
              </fieldset>
            </div>
            <div class="col-sm-4">
              <fieldset class="form-group">
                {{ form.submit(class="btn btn-primary") }}
              </fieldset>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
